
img {
	height: 225px;
	margin: 15px;

}

li.octocat {
	float: left;
}

.image-number {
	color: gray;
	font-size: 10px;
}

.image-caption {
	font-size: 10px;	

}

.octocat img {
	border: 3px solid gray;
	
}
.authors img {
	height: 20px;
	font-size: 10 px;
	border: none;
}